body{
    font-family: sedan;
    font-size: 18px;
    padding: 0;
    margin: 0;
  }
.logo {
  position: absolute;
  width: 194px;
  height: 80px;
  left: 93px;
  top: 0px;
  background: url(logo.png);
  }
.img-logo {
  height: 70%;
  margin-left: 10px;
  margin-top: 10px;
  }
.beranda{
  position: absolute;
  width: 108px;
  height: 25px;
  left: 608px;
  top: 23px;
  font-family: Sedan;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #010101;
  }
.tentang {
  position: absolute;
  width: 110px;
  height: 25px;
  left: 755px;
  top: 23px;
  font-family: Sedan;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #010101;
  }
.forum{
  position: absolute;
  width: 109px;
  height: 25px;
  left: 898px;
  top: 23px;
  font-family: Sedan;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #010101;
 }
.bantuan{
  position: absolute;
  width: 108px;
  height: 25px;
  left: 1046px;
  top: 23px;
  font-family: Sedan;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #010101;
  }
.icon{
  position: absolute;
  width: 194px;
  height: 80px;
  left: 1233px;
  top: 0px;
  }
.img-icon {
    height: 70%;
    margin-left: 10px;
    margin-top: 10px;
  }
.menu {
    width: 80%;
    height: 100%;
  }
.menu ul {
    list-style-type: none;
    float: right;
    margin: 8px 0 8px 0;
    padding-left: 0;
  }
.menu ul li{
    float: left;
    padding: 27px;
    margin-top: -10px;
  }
  .menu ul li a{
    text-decoration: none;
    color: black;
  }
  .menu ul li:hover{
    border-bottom: 3px solid black;
  }
.membuat-berita{
  position: absolute;
  width: 129px;
  height: 25px;
  left: 111px;
  top: 219px;
  font-family: Sedan;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  text-align: left;
  color: #000000;
}
.Admin{
  position: absolute;
  width: 72px;
  height: 25px;
  left: 262px;
  top: 219px;
  font-family: Sedan;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 250px;
  text-align: left;
  color: #A9A2A2;
  }
.kotak-judul{
  position: absolute;
  width: 470px;
  height: 34px;
  left: 256px;
  top: 285px;
  background: #FFFFFF;
  box-sizing: border-box;
}
.kotak-tanggal {
  position: absolute;
  width: 70px;
  height: 34px;
  left: 256px;
  top: 330px;
  background: #FFFFFF;
  box-sizing: border-box;
  }
.kotak-berita {
  position: absolute;
  width: 822px;
  height: 370px;
  left: 256px;
  top: 375px;
  background: #FFFFFF;
  border: 1px solid grey;
  min-width: 400px;
  max-width: 800px;
  }
.tombol-bagikan{
  font-family: sedan;
  background: #3E82E8;
  color: white;
  font-size: 12pt;
  position: absolute;
  width: 152px;
  height: 40px;
  left: 256px;
  top: 829px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 12px 20px;
  cursor: pointer;
}
.tombol-kembali{
  font-family: sedan;
  text-align: center;
  background: #909090;
  color: white;
  font-size: 12pt;
  position: absolute;
  width: 152px;
  height: 40px;
  left: 436px;
  top: 829px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 12px 20px;
  cursor: pointer;
  }
.copyright {
  position: absolute;
  text-align: right;
  width: 1360px;
  height: 90px;
  left: 0px;
  top: 1015px;
  background: #C4C4C4;
  }
