/* NOTES
 * Penggunaan fonts :
	 * font-family: 'Roboto', sans-serif;
	 * font-family: 'Secular One', sans-serif;
	 * font-family: 'Slabo 13px', serif;
 */

 /* HOMEPAGE */
 /* @HP Navbar Section */
 #navbar-logo {
	width: 50%;
}

#logoBFore {
	width: 70%;
}

#tombolLink {
	color: #0d6efd ;
}

#tombolLink:hover {
	color: #084298;
}

/* @HP Caraousel Atas */
.row {
	margin-right: 0;
	padding: 1.5rem 0 0 1.5rem;
}

#promoCarousel {
	background-color: #cfe2ff;
	padding: 0 3% 0 3%;
}

#carousel-cont-left {
	position: relative;
	right: 49%;
}

#carousel-cont-right {
	position: relative;
	left: 35%;
}

.carousel-image {
	width: 90%;
}

.caption-carousel {
	font-family: 'Slabo 13px', serif;
	padding-top: 17%;
}

h3, h1, p {
	font-family: 'Slabo 13px', serif;
}

/*  @HP Mid-Section Boogaloo */

.mid-img {
	padding: 5%;
}

@media (min-width: 992px) {
  .rounded-lg-3 {border-radius: .3rem;}
}

/*  @HP Feature Section */
.midTitleSep {
	padding-top: 5%;
	text-align: center;
	font-family: 'Secular One', sans-serif;
	color: #FF8F27;
}

.row {
	padding: 1.5rem 1.5rem 0 1.5rem;
}

#featureGrid {
	box-sizing: border-box;
	margin-right: 0;
}

.feature-grid {
	padding: 1.5rem 1.5rem 2.0rem 1.5rem;
}

.card-content {
	padding: 15%;
}

.featureCaption {
	display: inline-block;
	font-family: 'Secular One', sans-serif;
	color: #FF8F27;
}

.featureObject {
	font-size: 150%;
	color: #FF8F27;
	margin-right: 2%;
}

/*  @HP Footer */
footer {
	text-align: center;
	padding: 2% 15% 1% 15%;
}

.socmed {
	color: #212529;
	margin-left: 0.5em;
}

.socmed:hover {
	color: #f8f9fa;
}

/* Responsif Buat Tablet/Mobile */
@media (max-width: 1000px) {
	.caption-carousel {
		padding-top: 0%;
	}
	.row {
		text-align: center;
	}
	.carousel-image {
		width: 50%;
	}
}

/* ABOUT PAGE */

#about-big-promo {
	padding: 5% 3% 3% 3%;
}

#about-bigPromoImg {
	width: 48%;
	filter: drop-shadow(0px 4px 18px rgba(0, 0, 0, 0.25));
}

#about-mid1section {
	padding: 3% 20% 3% 20%;
}

#featureCardBlue {
	background-color: #cfe2ff;
}

#about-botsection {
	padding: 5%;
}

.tag-badge {
	width: 6rem;
}

/* FORUM PAGE */
#forum-cover-img {
	object-fit: cover;
	width: 100%;
	height: 7rem;
}

#forum-content {
	padding: 1%;
}

.icon-inbutton {
	padding-right: 5px;
}

#news-item-img {
	width: 45%;
}

#list-postingan {
	padding-right: 0;
}

/* SIGN-IN n -OUT PAGE*/
#body-signin {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 50%;
  background-color: white;
  box-shadow: 0px 0px 25px 4px grey;
  padding: 4% 5%;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#floatingPasswordSignin {
  margin-bottom: 18px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#floatingPasswordVal {
  margin-bottom: 18px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* MAIN FORUM PAGE*/
#badge-indicator {
	margin: 0 1% 0 1%;
}

#badge-indicator:disabled,
#badge-indicator[disabled]{
	background-color:#0d6efd;
	opacity: 1;
}

.row {
	padding: 1.0rem;
}

/* POSTINGAN PAGE*/
#judul-postingan {
	padding: 0.5% 0 1% 0;
	border-bottom: 1px solid grey;
}

#vote-cont-count {
	margin: 0;
}

#vote-cont {
	padding: 18px 0 0 14px;
}

#fawesome-button:hover {
	color: #0d6efd;
}

/* USER PROFILE NAVBAR*/
#profileLinkHome {
	width: 4%;
	margin: 0 0.5rem 0 0.5rem;
	box-sizing: border-box;
}
.profilePict {
	width: 40px;
	border-radius: 100%;
}

#profileNameHome {
	display: inline-block;
	box-sizing: border-box;
	padding-left: 0.4rem;
}

@media (min-width: 756px) {
	#profileNameHome {
		visibility: collapse;
	}
}

@media (max-width: 755px) {
	#profilNameHome {
		visibility: visible;
	}
}

/* USER PROFILE EDIT*/
#profilEditContainer, #profilEditContent {
	margin: 0;
	padding: 0;
}

.profilePictPost {
	width: 80px;
	border-radius: 100%;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/* Sidebar */

 #sidebarMenu {
   background-color: #86B9F5;
   box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
   padding: 1%;
 }

@media (min-width: 750px) {
	#sidebarMenu {
		position: relative;
		top: -72px;
	}
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/* FORUM POST PAGE*/
#newCommentContainer {
	padding-right: 0;
}

/* MAIN PROFILE PAGE*/
#tag-badgeProf {
	display: inline-block;
	margin: 0.5rem 0 0.5rem 0;
}